<div class="container">
  <div ng-show="$ctrl.error" class="alert alert-danger">{{$ctrl.error}}</div>
  <h1>{{$ctrl.title}} {{$ctrl.beer.name}}</h1>
  <img
    width="100"
    height="100"
    alt="{{$ctrl.beer.name}}"
    src="http://localhost:3000/{{$ctrl.beer.image}}"/>
  <form ng-submit="$ctrl.rate()">
    <table>
      <tr>
        <td>
          <label>Rating voor</label>
        </td>
        <td>
          <slider
            floor="0"
            ceiling="10"
            step="0.5"
            precision="1"
            ng-model="$ctrl.formData.ratingBefore"
            class="rate-form-control">
          </slider>
        </td>
        <td ng-bind="$ctrl.formData.ratingBefore"></td>
      </tr>
      <tr>
        <td>
          <label>Rating smaak<label>
        </td>
        <td>
          <slider
            floor="0"
            ceiling="10"
            step="0.5"
            precision="1"
            ng-model="$ctrl.formData.ratingTaste"
            class="rate-form-control">
          </slider>
        </td>
        <td ng-bind="$ctrl.formData.ratingTaste"></td>
      </tr>
    </table>
    <input type="submit" value="Rate!" class="btn btn-default"/>
  </form>
</div>
