<div class="container">
  <div ng-show="$ctrl.error" class="alert alert-danger">{{$ctrl.error}}</div>
  <div ng-show="$ctrl.noResult" class="alert alert-info">{{$ctrl.noResult}}</div>
      <h1>{{$ctrl.title}}</h1>
      <input type="text"
        placeholder="Zoek op naam"
        ng-model="$ctrl.keyword"
        ng-change="$ctrl.filter()"
        class="form-control keyword"/>
        <div class="row">
          <div class="col-md-6">
            <table class="table header-fixed">
              <thead>
                <tr>
                  <th>Naam</th>
                  <th>Kleur</th>
                  <th>Land</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="beer in $ctrl.filteredBeers | orderBy:'name'">
                  <td>
                    <a ng-click="$ctrl.showDetails(beer)">
                      {{beer.name}}
                    </a>
                  </td>
                  <td>{{beer.color}}</td>
                  <td>{{beer.country}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-3">
            <beer-detail></beer-detail>
          </div>
        </div>
      <button class="btn btn-default" ng-click="$ctrl.addBeer()">Nieuw bier</button>
</div>
